@import url('https://fonts.googleapis.com/css?family=New+Rocker&display=swap');
* {
    box-sizing: border-box;
    text-align: center;
    font-family: 'New Rocker', cursive;
    color:  hsl(43, 100%, 70%);
}

body{
    background-image: url(./stackstonebackground.jpg);
}

.log-sign-form{
    display: flex;
    flex-direction: column;
    border-style: outset;
    border-color: hsl(43, 100%, 70%);
}

#grudge-ul{
    visibility: hidden;
}

ul {
    list-style: none;
    padding: 0px;
}

li{
    border-style: solid;
    margin: 1rem;
    color: hsl(345,100%,25.1%);
}

.form-label{
    font-size: 25px;
    padding: 1rem;
}

.submit-button{
    color: black;
    margin: 5px;
}

form input{
    font-size: 17px;
    margin: 5px;
}

form label{
    margin: 5px;
}

#form-div{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.label-and-form{
    display: flex;
    flex-direction: column;
}

.modal{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* testing purposes */
    background-color: hsl(345,100%,25.1%);
    border-style: double;
    border-color: hsl(43, 100%, 70%);
    width: 50%;
    height: 50%;
}

#splash-image{
    top: 24%;
    left: 21%;    
}

.visible{
    visibility: visible;
    opacity: 1;
    transition: opacity 1s linear;
}

.hidden{
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 2s, opacity 1s linear;
}

#book-container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

#book{
    border-style: solid;
    width: 90vw;
    height: 90vh;
    display: flex;
    justify-content: center;
    background-color: hsl(43, 91%, 38%);
}

.page {
    border-style: solid;
    width: 49.75%;
    height: 100%;
    background: url(./oldpaper.jpg);
    background-size: 100% 100%;
}

#left-page{
    border-left: double;
    border-right-width: thin;
    
}

#right-page{
    border-right: double;
    border-left-width: thin;
}

#moving-page{
    border-left: double;
    border-right: double;
}

.nav-buttons{
    outline: none;
    background-color: transparent;
    border-style: none;
    color: hsl(345,100%,25.1%);
    font-size: 32px;
}